[DEFAULT]
follow_file = ./following.txt
logging_level = DEBUG

[TWITTER]
consumer_key = 123
consumer_secret = 456
application_key = 789
application_secret = 000
update_timeout = 60

[cache]
delay = 300
max_age = 60
dir = tempcache/

[DataBase]
path = //