{% extends "base.html.j2" %}
{% block content %}
<div class="w3-container">
  <div class="w3-panel w3-teal">
    {% block info_title %}{% endblock %}
  </div>
  <div class="w3-container w3-padding-16">
    {% block info_content %}{% endblock %}
  </div>
</div>
{% endblock content %}
