{% extends "base.html.j2" %}
{% block title %}Index{% endblock title %}
{% block head %}{% endblock head %}
{% block content %}
<div id="index-div">
  <a href="{{ url_for('user') }}">About you</a> <br/>
  <a href="{{ url_for('feed') }}">Your feed</a> <br/>
</div>
{% endblock content %}
